@tailwind base;
@tailwind components;

.form-input-sm {
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.leading-14px {
    line-height: .875rem;
}

.p-14px {
    padding: .875rem;
}

.z-1 {
    z-index: 1;
}

.cursor-grab {
    cursor: grab;
}

.shadow-tight {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fig-input-sm {
    height: 30px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.fig-input-md {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}

.fig-input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

@tailwind utilities;
@tailwind screens;
