.fig-btn {
    display: inline-block;
    font-weight: 400;
    color: $gray-900;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;

    &.fig-btn-sm {
        padding: .25rem .5rem;
        font-size: .875rem;
    }

    &.fig-btn-lg {
        padding: .5rem 1rem;
        font-size: 1.25rem;
    }

    &.fig-btn-block {
        display: block;
        width: 100%;
    }
    
    // DANGER
    &.fig-btn-danger {
        color: $white;
        background-color: $red-400;
        border-color: $red-400;
    
        &:hover {
            background-color: $red-500;
            border-color: $red-500;
        }
    }
    &.fig-btn-danger-outline {
        color: $red-500;
        border-color: $red-400;
    
        &:hover {
            color: $white;
            background-color: $red-400;
        }
    }
    
    // GHOST
    &.fig-btn-ghost {
        color: $blue-600;
    
        &:hover {
            background-color: $blue-50;
        }
    }
    
    // PRIMARY
    &.fig-btn-plain {
        color: $black;
        background-color: $gray-500;
        border-color: $gray-500;
    
        &:hover {
            color: $white;
            background-color: $gray-600;
            border-color: $gray-600;
        }
    }
    &.fig-btn-plain-outline {
        color: $gray-700;
        border-color: $gray-400;
    
        &:hover {
            border-color: $gray-500;
            background-color: $gray-200;
        }
    }
    
    // PRIMARY
    &.fig-btn-primary {
        color: $white;
        background-color: $blue-400;
        border-color: $blue-400;
    
        &:hover {
            background-color: $blue-500;
            border-color: $blue-500;
        }
    }
    &.fig-btn-primary-outline {
        color: $blue-500;
        border-color: $blue-300;
    
        &:hover {
            color: $white;
            background-color: $blue-400;
            border-color: $blue-500;
        }
    }
    
    // SUCCESS
    &.fig-btn-success {
        color: $white;
        background-color: $green-500;
        border-color: $green-500;
    
        &:hover {
            color: $white;
            background-color: $green-600;
            border-color: $green-600;
        }
    }
    &.fig-btn-success-outline {
        color: $green-600;
        border-color: $green-500;
    
        &:hover {
            color: $white;
            background-color: $green-500;
        }
    }
}

.fig-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.fig-btn:disabled {
    cursor: not-allowed;
    background-color: $gray-300 !important;
    border: $gray-300 !important;
    color: $gray-600 !important;
}

